<html ng-app="app">
<head>
    <script type="application/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
    <script type="application/javascript" src="js/lib/angular.js"></script>
    <script type="application/javascript" src="js/lib/angular-route.js"></script>
    <script src="js/lib/angular-cookies.js"></script>
    <script type="application/javascript" src="js/app.js"></script>
    <script type="application/javascript" src="js/controllers.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>

<div class="main">

    <div ng-controller="commonController">
        <button class="btn btn-default" ng-click="logout()" ng-if="loggedIn()">Logout</button>
    </div>

    <div  ng-view>

    </div>
</div>

</body>
</html>